<div class="row">
  <div class="col-sm-4">
    <div class="qcard">
      <div class="q-card-spacer">

      </div>
      <div class="q-card-content <%= suit_for(@card) %>">
        <div class="number-suit top left">
          <table>
            <tr><td><span><%= face_number_for(@card) %></span></td></tr>
            <tr><td><span class="shift"><%= icon_char_for(@card) %></span></td></tr>
          </table>
        </div>
        <div class="number-suit top right">
          <table>
            <tr><td><span><%= face_number_for(@card) %></span></td></tr>
            <tr><td><span class="shift"><%= icon_char_for(@card) %></span></td></tr>
          </table>
        </div>
        <div class="number-suit bottom left">
          <table>
            <tr><td><span><%= face_number_for(@card) %></span></td></tr>
            <tr><td><span class="shift"><%= icon_char_for(@card) %></span></td></tr>
          </table>
        </div>
        <div class="number-suit bottom right">
          <table>
            <tr><td><span><%= face_number_for(@card) %></span></td></tr>
            <tr><td><span class="shift"><%= icon_char_for(@card) %></span></td></tr>
          </table>
        </div>
        <div class="q-card-content-inner">
          <h1>
            <%= @card.lens_name %>
          </h1>
          <p>
            Ask yourself:
          </p>
          <p>
            <%= @card.me_question %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
