<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <div class="qcard">
      <h1>
        <%= face_number_for(@card) %><%= image_tag(icon_for(@card), size: 32, alt: "Clubs", class: "suit-icon") %>
        <%= full_name_for(@card) %>
      </h1>

      <p>
        Level: <%= @card.category %>
      </p>

      <p>
        <%= @card.me_reason %>
        <%= @card.me_question %>
      </p>

      <p>
        <%= @card.we_reason %>
        <%= @card.we_question %>
      </p>
    </div>
  </div>
</div>
