<div class="decks-show">
  <div class="row deck-header-row">
    <div class="col-md-6 deck-header-name">
      <h1><%= @deck.name %></h1>
    </div>
    <div class="col-md-6 deck-header-buttons">
      <div class="deck-header-button-group">
        <div class="btn-group" id="card-list-filters" role="group" aria-label="...">
          <button type="button" class="btn btn-default" data-suit="hearts">
            ♥
          </button>
          <button type="button" class="btn btn-default" data-suit="clubs">
            ♣
          </button>
          <button type="button" class="btn btn-default" data-suit="diamonds">
            ♦
          </button>
          <button type="button" class="btn btn-default" data-suit="spades">
            ♠
          </button>
          <button type="button" class="btn btn-default" data-suit="joker">
            ♥
          </button>
        </div>
        <%= link_to "?", random_path, class: "btn btn-default", role: "button" %>
      </div>
    </div>
  </div>

  <div class="list-group" id="card-list">
    <% @deck.cards.card_ordered.each do |card| %>
      <%= link_to card_path(card), class: "list-group-item #{suit_for(card)}", data: { suit: suit_for(card) } do %>
        <%= face_number_for(card) %> <%= icon_char_for(card) %>
        <%= full_name_for(card) %>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Find the Stupidest Card", sorting_game_deck_path(@deck) %>
</div>
